<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{my/layout/layout}">
    <head>
        <title>用户信息</title>
    </head>
    <body>
        <div layout:fragment="content" class="sidebar-sticky">
            <h2>用户信息</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>昵称</th>
                            <th>账号</th>
                            <th>描述信息</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>禁用/启用</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user:${result.data.records}">
                            <td>[[${user.id}]]</td>
                            <td>[[${user.nickName}]]</td>
                            <td>[[${user.username}]]</td>
                            <td>[[${user.description}]]</td>
                            <td>[[${#dates.format(user.createTime, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                            <td>[[${#dates.format(user.updateTime, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                            <td>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label th:class="${user.disableFlag eq 1}?'btn btn-secondary active btn-sm':'btn btn-secondary btn-sm'">
                                        <input type="radio" th:name="${user.id}" id="on" autocomplete="off"/> 启用
                                    </label>
                                    <label th:class="${user.disableFlag eq 0}?'btn btn-secondary active btn-sm':'btn btn-secondary btn-sm'">
                                        <input type="radio" th:name="${user.id}" id="off" autocomplete="off"/> 禁用
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="cs">
                                    <button type="button"  th:onclick="'javascript:showUpdateLayer('+${user.id}+')'" class="btn btn-primary btn-sm">修改</button>
                                    <button type="button"  th:onclick="'javascript:showDeleteLayer('+${user.id}+')'" class="btn btn-danger btn-sm">删除</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <div><button type="button" class="btn btn-success" th:onclick="'javascript:showInsertLayer()'">新增用户</button></div>
                <div th:replace="my/layout/confirm :: layer"></div>
                <div th:with="url=@{/users/page}">
                    <div th:replace="my/layout/page :: page">
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/my/js/user.js}" layout:fragment="customjs"></script>

    </body>



</html>