<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianhe.nine.intface.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lianhe.nine.intface.po.User">
        <id column="id" property="id" />
        <result column="nick_name" property="nickName" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="description" property="description" />
        <result column="creator_name" property="creatorName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="updator_name" property="updatorName" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="disable_flag" property="disableFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nick_name, username, password, description, creator_name, create_time, update_time, updator_name, delete_flag, disable_flag
    </sql>

</mapper>
